# requirements.txt

# --- Core Airflow ---
apache-airflow[postgres,celery]==3.1.1


# --- Core Data Science & ML ---
numpy
pandas
scikit-learn
yfinance
matplotlib
seaborn
joblib
structlog==23.3.0

# --- FastAPI Web Backend ---
fastapi
uvicorn[standard]
python-dotenv
psycopg2-binary

# --- Google Gemini API ---
google-generativeai

# --- Utility ---
pendulum